<div class="container no-gap" style="top: 96px;">
  <div class="row">
    <div class="col-md-12">
      <h2>Learn About Our Services</h2>
      <p>Installing the right products can make a world of difference to your company. So explore our expansive product portfolio
        of power, thermal and infrastructure management systems. We offer problem-configured critical infrastructure technologies,
        rapidly deployable intelligent hardware and software, and customized solutions to meet your specific requirements
        and needs.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-20.jpg" class="img-full-width" />
          <h3>Primary Areas</h3>
        </div>
        <div class="block-body">
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Engineering, Procurement, and Construction (EPC)</a></li>
            <li><a [routerLink]="['/services', 'engineering-and-consultancy']" href="#">Engineering and Consultancy</a></li>
            <li><a [routerLink]="['/services', 'turnkey-services']" href="#">Turnkey Services</a></li>
            <li><a [routerLink]="['/services', 'emergency-service-and-support']" href="#">Emergency Service and Support</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-21.jpg" class="img-full-width" />
          <h3>Installation</h3>
        </div>
        <div class="block-body">
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['/services', 'sub-station-installation']" href="#">Sub-station Installation</a></li>
            <li><a [routerLink]="['/services', 'generator-installation']" href="#">Generator Installation</a></li>
            <li><a [routerLink]="['/services', 'power-plant-installation-and-erection']" href="#">Power Plant Installation and Erection</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-22.jpg" class="img-full-width" />
          <h3>Maintenance</h3>
        </div>
        <div class="block-body">
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['/services', 'substation-maintenance']" href="#">Substation Maintenance</a></li>
            <li><a [routerLink]="['/services', 'substation-servicing']" href="#">Substation Servicing</a></li>
            <li><a [routerLink]="['/services', 'transformar-maintenance']" href="#">Transformar Maintenance</a></li>
            <li><a [routerLink]="['/services', 'transformer-servicing']" href="#">Transformer Servicing</a></li>
            <li><a [routerLink]="['/services', 'switchgear-maintenance']" href="#">Switchgear Maintenance</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-23.jpg" class="img-full-width" />
          <h3>Repairing</h3>
        </div>
        <div class="block-body">
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['/services', 'transformer-repeating']" href="#">Transformer Repeating</a></li>
            <li><a [routerLink]="['/services', 'switchgear-modification']" href="#">Switchgear Modification</a></li>
            <li><a [routerLink]="['/services', 'generator-repeating']" href="#">Generator Repeating</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-1.jpg" class="img-full-width" />
        </div>
        <div class="block-body">
          <h3>More Services</h3>
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['/services', 'site-testing-and-commissioning']" href="#">Site Testing and Commissioning</a></li>
            <li><a [routerLink]="['/services', 'project-management']" href="#">Project Management</a></li>
            <li><a [routerLink]="['/services', 'network-design']" href="#">Network Design</a></li>
            <li><a [routerLink]="['/services', 'discrimination-studies']" href="#">Discrimination Studies</a></li>
            <li><a [routerLink]="['/services', 'power-quality-analysis']" href="#">Power Quality Analysis</a></li>
            <li><a [routerLink]="['/services', 'thermal-imaging-surveys']" href="#">Thermal Imaging Surveys</a></li>
            <li><a [routerLink]="['/services', 'generator-hire-and-connection']" href="#">Generator Hire and Connection</a></li>
            <li><a [routerLink]="['/services', 'health-and-safety']" href="#">Health and Safety</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>