<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> > Contact Us</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul>
          <li><a href="#vnm">Vision &amp; Mission</a></li>
          <li><a href="#company">Company</a></li>
          <li><a href="#history">History</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#core-value">Core Value</a></li>
          <li><a href="#infrastructure">Infrastructure</a></li>
          <li><a href="#anr">Awards &amp; Recognition</a></li>
        </ul>
      </div>
    </div>
  </div> -->
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/head/contact-us.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
      <p style="text-align: center;margin-top: 35px;font-weight: 200;font-size: 22px;">We appreciate your interest and let us knwo how we can help you.</p>
    <div class="row">
      <div class="col-md-6">

        <h2>&nbsp;</h2>
        <h3>Corporate Office</h3>
        <p><strong>Techsol Engineering Limited</strong><br/>BDBL Bhaban (Level - 19)<br/>12 Karwan Bazar C/A<br/>Dhaka - 1215<br>Bangladesh.</p>
        <p>Tel: +88 02 8189587 - 90<br/>Cell: +8801711547055</p>
        <p>Email: info@techsolbd.com</p>
        <h3><br>Factory</h3>
        <p>Tek Kathora, Salna<br/>Gazipur - 1703<br/>Bangladesh.</p>
        <h3>Regional Sales and Support Center</h3>
        <div class="row">
          <div class="col-md-4">
            <h4>Chittagong</h4>
            <p>Phone: +8801777780550</p>
          </div>
          <div class="col-md-4">
            <h4>Khulna</h4>
            <p>Phone: +8801777780560</p>
          </div>
          <div class="col-md-4">
            <h4>Bogra</h4>
            <p>Phone: +8801777780570</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <h2>&nbsp;</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29214.748134752946!2d90.38929500000002!3d23.752959!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc24eadf7c004ac4d!2sTechsol+Engineering+Limited!5e0!3m2!1sen!2sus!4v1506503572006"
          width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
    </div>
  </div>
</div>