<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> About Us</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#vnm">Vision &amp; Mission</a></li>
          <li><a href="#history">How We Started</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#core-value">Core Value &amp; Ethics</a></li>
          <li><a href="#ehs">Environment, Health &amp; Safety</a></li>
          <li><a href="#anr">Awards &amp; Recognition</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/img-26.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-7">
              <div class="prod-banner-text">
                <h1>&nbsp;</h1>
                <p>We Make It Happen.</p>
              </div>
            </div>
            <div class="col-md-5 prod-banner-img">
              <div class="prod-banner-img-container">
                <img src="/img/img-27.jpg" class="img-full-width" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 scrollspy section" id="vnm">
            <h2>Vision &amp; Mission</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-28.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>Techsol's Mission is to provide durable, efficient and environment friendly power solutions to a fast-rising
                  technologically advanced world.</p>
                <p>Our Vision is to use business to inspire fellow humans and implement solutions for our mother earth.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="history">
            <h2>How We Started</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-30.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>​Techsol Engineering Limited. inaugrated its journey of success in the year 2001 by their founder, Mohammad
                  Shaiful Islam. Being a extraordinarily talented and hard working engineer himself, he formed a small team
                  to work with which later turned into hundreds of other dedicated engineers directed by him. With it’s passing
                  years of glory, Techsol has earned its recognition not only locally but in the international market. With
                  illustrious achievements of multitudinous awards and proud ISO 9001:2008 and ISO 14001:2004 holders, Techsol
                  takes pride in its quality, durability and efficiency of its products and services. Techsol’s founder says,
                  <i>"we want to contribute the most we can in the advancement of new technologies and inventions in the world
                  while maintaining the ecological balance of our mother planet and a reliable and eco power supply is the
                  way to go"</i>.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="team">
            <h2>Our Team</h2>
            <div class="row">
              <div class="col-md-6">
                <p>At Techsol we promote attitudes that contribute to internal cooperation and support amongst our team members
                  and employees. Our success depends upon the combined capabilities and contributions of our highly skilled
                  and hard working team.
                </p>
              </div>
              <div class="col-md-6">
                <img src="/img/img-31.jpg" class="img-full-width" />
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="core-value">
            <h2>Core Value &amp; Ethics</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-32.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>​Techsol's core value is to play a positive role in our world; moving forward towards new innovations and
                  technologies, building our people towards success and protecting our environment simultaneously. We are
                  aware of the necessity of a flexible and meticulous quality system in a highly competitive global market,
                  which is why our approach is to continuously improve, aimed for reinforce customer satisfaction and meeting
                  customer expectations. We ensure our integrity towards our customers in our values and building long term
                  relations with our customers is what we always look forward to.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="ehs">
            <h2>Environment, Health &amp; Safety</h2>
            <div class="row">
              <div class="col-md-6">
                <p>Techsol Engineering Ltd. major specialities include its dignity and efforts to protect the environment. Being awarded ISO
                  14001:2004, Techsol is committed to its recognition for quality assurance and environmental responsibility.
                  We make sure to use raw materials and resources that are safe for the environment such as reduced harmful
                  volatile organic compound paints and biodegradable products for our manufactures. We ensure our commitment
                  in making an impact today for a healthier and safer tomorrow for the planet.
                </p>
              </div>
              <div class="col-md-6">
                <img src="/img/img-33.jpg" class="img-full-width" />
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="anr">
            <h2>Awards &amp; Recognition</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-34.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>
                  Awards &amp; Recognition ____________________________________
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>