<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> About Us</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#vnm">Vision &amp; Mission</a></li>
          <li><a href="#history">History</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#core-value">Core Value</a></li>
          <li><a href="#ehs">Environment, Health &amp; Safety</a></li>
          <li><a href="#anr">Awards &amp; Recognition</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/img-26.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-7">
              <div class="prod-banner-text">
                <h1>About Us</h1>
                <p>We Make It Happen.</p>
              </div>
            </div>
            <div class="col-md-5 prod-banner-img">
              <div class="prod-banner-img-container">
                <img src="/img/img-27.jpg" class="img-full-width" />
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 scrollspy section" id="vnm">
            <h2>Vision &amp; Mission</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-28.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>
                  Vision and mission ____________________________________
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-12 scrollspy section" id="company">
            <h2>Company</h2>
            <div class="row">
              <div class="col-md-6">
                <p>
                  Company ____________________________________
                </p>
              </div>
              <div class="col-md-6">
                <img src="/img/img-29.jpg" class="img-full-width" />
              </div>
            </div>
          </div>


          <div class="col-md-12 scrollspy section" id="history">
            <h2>History</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-30.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>
                  History ____________________________________
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-12 scrollspy section" id="team">
            <h2>Team</h2>
            <div class="row">
              <div class="col-md-6">
                <p>
                  Team _____________________________________
                </p>
              </div>
              <div class="col-md-6">
                <img src="/img/img-31.jpg" class="img-full-width" />
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="core-value">
            <h2>Core Value</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-32.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>
                  Core Value ____________________________________
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="ehs">
            <h2>Environment, Health &amp; Safety</h2>
            <div class="row">
              <div class="col-md-6">
                <p>
                  Environment, Health &amp; Safety ____________________________________
                </p>
              </div>
              <div class="col-md-6">
                <img src="/img/img-33.jpg" class="img-full-width" />
              </div>
            </div>
          </div>
          <div class="col-md-12 scrollspy section" id="anr">
            <h2>Awards &amp; Recognition</h2>
            <div class="row">
              <div class="col-md-6">
                <img src="/img/img-34.jpg" class="img-full-width" />
              </div>
              <div class="col-md-6">
                <p>
                  Awards &amp; Recognition ____________________________________
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>