<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> Clients</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/clients/clients-head.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-7">
              <div class="prod-banner-text">
                <h1>Our Esteemed Clients</h1>
                <p>We Deliver the Best</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="block-body" style="text-align:center;margin-top: 50px;">
          <p>​We develop relationships that make a positive influence in our customer's lives. We highly believe in the following
            quote, <br/>
            <i>"Profit in business comes from repeat customers; customers that boast about your product and service,
            and that bring friends with them".</i> ~ W. Edwards Deming</p>

            <h3>​Here's a list of some of our respected clients:</h3>
          <div class="client-logo">
            <div class="v-center">
              <a href="https://www.robi.com.bd" target="_blank">
                <img src="/img/homepage-img/robi-logo.png" class="img-full-width"/>
                <span>Robi Axiata Limited</span>
              </a>
            </div>
          </div>

          <div class="client-logo">
            <div class="v-center">
              <a href="http://www.chevronbangladesh.com/" target="_blank">
                                            <img src="/img/homepage-img/chevron.jpg" class="img-full-width"/>
                                            <span>Chevron Corporation</span>
                                          </a>
            </div>
          </div>
          <div class="client-logo">
            <div class="v-center">
              <a href="http://www.tusuka.com/" target="_blank">
                                  <img src="/img/homepage-img/tusuka.jpg" class="img-full-width"/>
                                  <span>Tusuka</span>
                                </a>
            </div>
          </div>


          <div class="client-logo">
            <div class="v-center">
              <a href="http://www.ifadgroup.com/" target="_blank">
                                  <img src="/img/homepage-img/ifad.png" class="img-full-width"/>
                                  <span>Ifad Group</span>
                                </a>
            </div>
          </div>

          <div class="client-logo">
            <div class="v-center">
              <a href="http://edotcogroup.com/" target="_blank">
                            <img src="/img/homepage-img/edotco.png" class="img-full-width"/>
                            <span>edotco Group Sdn Bhd</span>
                          </a>
            </div>
          </div>

          <div class="client-logo">
            <div class="v-center">
              <a href="http://vipindustries.co.in/" target="_blank">
                                    <img src="/img/homepage-img/vip.png" class="img-full-width"/>
                                    <span>V.I.P. Industries</span>
                                  </a>
            </div>
          </div>

          <div class="client-logo">
            <div class="v-center">
              <a href="https://flynovoair.com" target="_blank">
                    <img src="/img/homepage-img/novoair.jpg"  class="img-full-width"/>
                    <span>Novoair</span>
                  </a>
            </div>
          </div>
          <div class="client-logo">
            <div class="v-center">
              <a href="http://somoynews.tv" target="_blank">
                      <img src="/img/homepage-img/somoy.png" class="img-full-width"/>
                      <span>Somoy Media Limited</span>
                    </a>
            </div>
          </div>

          <div class="client-logo">
            <div class="v-center">
              <a href="https://www.novotel-bd.com/" target="_blank">
                          <img src="/img/homepage-img/novotel.png" class="img-full-width"/>
                          <span>NoteTel Limited</span>
                        </a>
            </div>
          </div>
          <div class="client-logo">
            <div class="v-center">
              <a href="https://www.sml.com/" target="_blank">
                            <img src="/img/homepage-img/sml.png" class="img-full-width"/>
                            <span>SML Group</span>
                          </a>
            </div>
          </div>
          <div class="client-logo">
            <div class="v-center">
              <a href="http://www.britanniapackaging.com/" target="_blank">
                              <img  src="/img/homepage-img/britannia.jpg" class="img-full-width"/>
                              <span>Britannia</span>
                            </a>
            </div>
          </div>



          <div class="client-logo">
            <div class="v-center">
              <a href="http://www.summitcommunications.net/" target="_blank">
                                    <img src="/img/homepage-img/summit.png" class="img-full-width"/>
                                    <span>Summit Grooup</span>
                                  </a>
            </div>
            
          </div>
          <div class="client-logo">
            <div class="v-center"> 
              <a href="http://www.aci-bd.com/" target="_blank">
                                      <img src="/img/homepage-img/aci.png" class="img-full-width"/>
                                      <span>ACI Limited</span>
                                    </a>
            </div>
          </div>

          <div class="client-logo">
            <div class="v-center">
              <a href="http://www.mohammadigroup.com/" target="_blank">
                                        <img src="/img/homepage-img/mg.jpg" class="img-full-width"/>
                                        <span>Mohammadi Group</span>
                                      </a>
            </div>
          </div>



          <div class="client-logo">
            <div class="v-center">
              <img src="/img/homepage-img/dishang.jpg" class="img-full-width" />
              <span>Dishang sweater ltd</span>
            </div>
          </div>

          <div class="client-logo">
            <div class="v-center">
              <a href="https://www.mottmac.com/" target="_blank">
                                            <img src="/img/homepage-img/mm.jpg" class="img-full-width"/>
                                            <span>Mott MacDonald</span>
                                          </a>
            </div>
          </div>


          <div class="client-logo">
            <div class="v-center">
              <a href="http://www.bepza.gov.bd/" target="_blank">
                                              <img src="/img/homepage-img/bepza.png" class="img-full-width"/>
                                              <span>BEPZA</span>
                                            </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>