<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> What We Do</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#factory">Factory</a></li>
          <li><a href="#history">Equipments</a></li>
          <li><a href="#team">Tools</a></li>
          <li><a href="#core-value">Transportation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/head/gallery.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-7">
              <div class="prod-banner-text">
                <h1>What We Do</h1>
                <p>Our doings</p>
              </div>
            </div>
            <div class="col-md-5 prod-banner-img">
              <div class="prod-banner-img-container">
                <img src="/img/head-side/gallery.png" class="img-full-width" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 scrollspy" id="factory">
        <h2>Factory</h2>

        
      </div>
    </div>
  </div>
</div>