<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> Quality</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#qat">Quality at Techsol</a></li>
          <li><a href="#note">Director's Note</a></li>
          <!--<li><a href="#testing-facility">Testing Facility</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/quality/quality-head.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-12">
              <div class="prod-banner-text">
                <h1>Techsol Quality</h1>
                <p>Choose The Best for Your Success</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="qat">
          <h2>Quality at Techsol</h2>
          <p>​Quality assurance is the biggest aspect of our commitment to our customers. We maintain international standards
            for our production and services. In a highly competitive global market, we aim to enhance ourselves constantly
            for utmost satisfaction from our customers all over the globe.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="note">
          <h2>A note from the director about Techsol quality</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="director-img">
                <img src="/img/quality/shaiful.jpg" class="img-full-width" />
              </div>
            </div>
            <div class="col-md-1">
            </div>

            <div class="col-md-7">
              <p  style="text-align: right;line-height: 45px;">​We are always absolutely unapologetic about our quality assurance and I think, this is a major reason for
                us to attract so many customers from all over the globe. There are many who work in the same field as us,
                but not all work with unquestionable integrity and dedication. We have customers who has been working with
                us for decades. There must be a good reason why they chose to stick with us for so long.
              </p>
              <img src="/img/quality/signature.png" class="img-full-width" style="width: 300px;display: block;float: right;margin: 30px 0 100px 0;"/>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="testing-facility">
          <h2>Testing Facility</h2>
          <p></p>
        </div>
      </div> -->
    </div>
  </div>
</div>