<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> Quality</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#qat">Quality at Techsol</a></li>
          <li><a href="#note">Director's Note</a></li>
          <li><a href="#testing-facility">Testing Facility</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/quality/quality-head.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-12">
              <div class="prod-banner-text">
                <h1>Techsol Quality</h1>
                <p>Choose The Best for Your Success</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="qat">
          <h2>Quality at Techsol</h2>
          <p>​Quality assurance is the biggest aspect of our commitment to our customers. We maintain international standards
            for our production and services. In a highly competitive global market, we aim to enhance ourselves constantly
            for utmost satisfaction from our customers all over the globe.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="note">
          <h2>A note from the director about Techsol quality</h2>
          <p>​"We are always absolutely unapologetic about our quality assurance and I think, this is a major reason for us
            to attract so many customers from all over the globe. There are many who work in the same field as us, but not
            all work with unquestionable integrity and dedication. We have customers who has been working with us for decades.
            There must be a good reason why they chose to stick with us for so long." - Director, Techsol Engineering Limited.

          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="testing-facility">
          <h2>Testing Facility</h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>