<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> > Quality</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#qat">Quality at Techsol</a></li>
          <li><a href="#note">Director's Note</a></li>
          <li><a href="#testing-facility">Testing Facility</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/img-26.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-7">
              <div class="prod-banner-text">
                <h1>Techsol Quality</h1>
                <p>We own quality at Techsol</p>
              </div>
            </div>
            <div class="col-md-5 prod-banner-img">
              <div class="prod-banner-img-container">
                <img src="/img/img-27.jpg" class="img-full-width" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="qat">
          <h2>Quality at Techsol</h2>
          <p></p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="note">
          <h2>A note from the director about Techsol quality</h2>
          <p></p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 scrollspy section" id="testing-facility">
          <h2>Testing Facility</h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>