<header class="container-fluid">
  <div class="header-container row">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="">
            <a [routerLink]="['/']">
              <div class="logo pull-left"></div>
            </a>
            <div class="search-container pull-left">
              <input type="text" class="search-box" placeholder="Search" /><button type="button" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="desktop-nav pull-right">
              <div class="nav-top">
                <ul>
                  <li><a [routerLink]="['about']">About Techsol</a></li>
                  <li><a [routerLink]="['contact-us']">Contact Us</a></li>
                </ul>
              </div>
              <div class="nav-bottom">
                <ul>











                  <li class="nav-link" [class.show-nav]="productsMouseOvered" (mouseover)="productsMouseOvered=true; servicesMouseOvered=false; solutionsMouseOvered=false; supportMouseOvered=false; "><a href="#" [routerLink]="['products-home']" class="nav-link">Products <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="nav-details-container" (mouseleave)="productsMouseOvered=false; servicesMouseOvered=false">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3 row">
                            <div class="whats-new-section ">
                              <img src="/img/products/prod-nav.jpg" class="img-full-width" />
                              <strong><span class="whats-new-head">​Products we are proud of</span></strong>
                              <ul>
                                <li class="no-click-close">
                                  <p>​Techsol manufactures exclusive products which can be personalised to meet your needs.</p>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-9 nav-items">
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Transformer
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'power-transformer']">Power Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'distribution-transformer']" href="#">Distribution Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'dry-type-transformer']" href="#">Dry Type Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'green-transformer']" href="#">Green Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'isolation-transformer']" href="#">Isolation Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'auto-transformer']" href="#">Auto Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'earthing-transformer']" href="#">Earthing Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'furnace-transformer']" href="#">Furnace Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'rectifier-transformer']" href="#">Rectifier Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'special-type-transformer']" href="#">Special Type Transformer</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Switchgear &amp; Control
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'hv-switchgear']" href="#">HV Switchgear</a></li>
                                  <li><a [routerLink]="['/products', 'mv-switchgear']" href="#">MV Switchgear</a></li>
                                  <li><a [routerLink]="['/products', 'lv-switchgear']" href="#">LV Switchgear</a></li>
                                  <li><a [routerLink]="['/products', 'power-factor-correction']" href="#">PFI Plant</a></li>
                                  <li><a [routerLink]="['/products', 'mccb-distribution-board']" href="#">AC/DC Distribution Board</a></li>
                                  <li><a [routerLink]="['/products', 'lv-switchgear']" href="#">Paralleling Switchgear</a></li>
                                  <li><a [routerLink]="['/products', 'synchronization-panel']" href="#">Synchronization Panel</a></li>
                                  <li><a [routerLink]="['/products', 'changeover-panel']" href="#">Power Transfer Panel</a></li>
                                  <li><a [routerLink]="['/products', 'motor-control-panel']" href="#">Motor Control Center</a></li>
                                  <li><a [routerLink]="['/products', 'lighting-control-anels']" href="#">Lighting Control Panel</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Cable Management
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'motor-control-panel']" href="#">Cable Ladder</a></li>
                                  <li><a [routerLink]="['/products', 'lighting-control-anels']" href="#">Cable Tray</a></li>
                                  <li><a [routerLink]="['/products', 'lighting-control-anels']" href="#">Floor Trunking</a></li>
                                  <li><a [routerLink]="['/products', 'lighting-control-anels']" href="#">Industrial Channel</a></li>
                                  <li><a [routerLink]="['/products', 'lighting-control-anels']" href="#">Cable Entry System</a></li>
                                </ul>
                              </div>
                              <div class="solutions">
                                <div class="nav-item">
                                  <div class="nav-item-head">
                                    <a [routerLink]="['/services', 'data-center-solution']" href="#">MV Package Substation</a>
                                  </div>
                                </div>
                                <div class="nav-item">
                                  <div class="nav-item-head">
                                    <a [routerLink]="['/services', 'data-center-solution']" href="#">Smart Outdoor Cabinate</a>
                                  </div>
                                </div>
                                <div class="nav-item">
                                  <div class="nav-item-head">
                                    <a [routerLink]="['/services', 'data-center-solution']" href="#">Load Banks</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  More
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'generators']" href="#">Generators</a></li>
                                  <li><a [routerLink]="['/products', 'static-avr']" href="#">Static AVR</a></li>
                                  <li><a [routerLink]="['/products', 'solar-system']" href="#">UPS</a></li>
                                  <li><a [routerLink]="['/products', 'solar-system']" href="#">Batteries</a></li>
                                  <li><a [routerLink]="['/products', 'solar-system']" href="#">Solar System</a></li>
                                  <li><a [routerLink]="['/products', 'solar-system']" href="#">Harmonic Mitigation Devices</a></li>
                                  <li><a [routerLink]="['/products', 'busway-and-cable-management']" href="#">Busbar Trunking System</a></li>
                                  <li><a [routerLink]="['/products', 'solar-system']" href="#">Switchgear Components</a></li>
                                  <li><a [routerLink]="['/products', 'solar-system']" href="#">Wiring Accessories</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>








                  <li class="nav-link" [class.show-nav]="solutionsMouseOvered" (mouseover)="supportMouseOvered=false; servicesMouseOvered=false; productsMouseOvered=false; solutionsMouseOvered=true;"><a href="#" [routerLink]="['support-home']" class="nav-link">Solutions <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="nav-details-container" (mouseleave)="productsMouseOvered=false; servicesMouseOvered=false; supportMouseOvered=false; solutionsMouseOvered=false;">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3 row">
                            <div class="whats-new-section ">
                              <img src="/img/solutions/solutions-home.jpg" class="img-full-width" />
                              <strong><span class="whats-new-head">​We got your all your solutions</span></strong>
                              <ul>
                                <li class="no-click-close">
                                  <p>​Techsol provides complete technical solutions to meet your satisfaction.</p>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-9 nav-items solutions">
                            <div class="col-md-4 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  <a [routerLink]="['/services', 'data-center-solution']" href="#">Power Solution</a>
                                </div>
                                <p>
                                  Descrbe Power solutions
                                </p>
                                <p><a class="read-more" [routerLink]="['/services', 'data-center-solution']" href="#">More</a></p>
                              </div>
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  <a [routerLink]="['/services', 'data-center-solution']" href="#">Surge and Lightning Protection System</a>
                                </div>
                                <p>
                                  Descrbe Power solutions
                                </p>
                                <p><a class="read-more" [routerLink]="['/services', 'data-center-solution']" href="#">More</a></p>
                              </div>
                            </div>
                            <div class="col-md-4 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  <a [routerLink]="['/services', 'data-center-solution']" href="#">Clean Room Solution</a>
                                </div>
                                <p>
                                  Descrbe HVAC Solutions
                                </p>
                                <p><a class="read-more" [routerLink]="['/services', 'data-center-solution']" href="#">More</a></p>
                              </div>
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  <a [routerLink]="['/services', 'data-center-solution']" href="#">Data Center Solution</a>
                                </div>
                                <p>
                                  Descrbe HVAC Solutions
                                </p>
                                <p><a class="read-more" [routerLink]="['/services', 'data-center-solution']" href="#">More</a></p>
                              </div>
                            </div>
                            <div class="col-md-4 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  <a [routerLink]="['/services', 'data-center-solution']" href="#">HVAC Solution</a>
                                </div>
                                <p>
                                  Descrbe Power solutions
                                </p>
                                <p><a class="read-more" [routerLink]="['/services', 'data-center-solution']" href="#">More</a></p>
                              </div>
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  <a [routerLink]="['/services', 'data-center-solution']" href="#">Fire, Safety &amp; Security</a>
                                </div>
                                <p>
                                  Descrbe Power solutions
                                </p>
                                <p><a class="read-more" [routerLink]="['/services', 'data-center-solution']" href="#">More</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

























                  <li class="nav-link" [class.show-nav]="servicesMouseOvered" (mouseover)="servicesMouseOvered=true; productsMouseOvered=false; solutionsMouseOvered=false; supportMouseOvered=false;"><a href="#" [routerLink]="['services-home']" class="nav-link">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="nav-details-container" (mouseleave)="productsMouseOvered=false; servicesMouseOvered=false">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3 row">
                            <div class="whats-new-section ">
                              <img src="/img/services/services-nav.jpg" class="img-full-width" />
                              <strong><span class="whats-new-head">We provide worldclass services</span></strong>
                              <ul>
                                <li class="no-click-close">
                                  <p>​Techsol serves it all to meet all your your project requisitions.</p>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-9 nav-items">
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  General Services
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Engineering, Procurement, &amp; Construction</a></li>
                                  <li><a [routerLink]="['/services', 'engineering-and-consultancy']" href="#">Engineering and Consultancy</a></li>
                                  <li><a [routerLink]="['/services', 'turnkey-services']" href="#">Turnkey Services</a></li>
                                  <li><a [routerLink]="['/services', 'emergency-service']" href="#">Emergency Service</a></li>
                                  <li><a [routerLink]="['/services', 'project-management']" href="#">Project Management</a></li>
                                  <li><a [routerLink]="['/services', 'network-design']" href="#">Anual Maintenance Contract</a></li>
                                  <li><a [routerLink]="['/services', 'health-and-safety']" href="#">Health and Safety</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Optimization
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'discrimination-studies']" href="#">Discrimination Studies</a></li>
                                  <li><a [routerLink]="['/services', 'power-quality-analysis']" href="#">Power Quality Analysis</a></li>
                                  <li><a [routerLink]="['/services', 'thermal-imaging-surveys']" href="#">Thermal Imaging Surveys</a></li>
                                  <li><a [routerLink]="['/services', 'switchgear-modification']" href="#">Switchgear Modification</a></li>
                                  <li><a [routerLink]="['/services', 'power-quality-analysis']" href="#">Equipment Upgrades &amp; Replacement</a></li>
                                  <li><a [routerLink]="['/services', 'switchgear-modification']" href="#">Grounding Quality Analysis</a></li>
                                  <li><a [routerLink]="['/services', 'site-testing-and-commissioning']" href="#">Site Testing and Commissioning</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Installation
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'sub-station-installation']" href="#">Substation Installation</a></li>
                                  <li><a [routerLink]="['/services', 'generator-installation']" href="#">Generator Installation</a></li>
                                  <li><a [routerLink]="['/services', 'power-plant-installation-and-erection']" href="#">Power Plant Installation and Erection</a></li>
                                  <li><a [routerLink]="['/services', 'generator-hire-and-connection']" href="#">Generator Hire and Connection</a></li>
                                  <li><a [routerLink]="['/services', 'generator-hire-and-connection']" href="#">HVAC Systemm</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Maintenance
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'substation-repairing-maintenance']" href="#">Substation</a></li>
                                  <li><a [routerLink]="['/services', 'transformar-repairing-maintenance']" href="#">Transformar</a></li>
                                  <li><a [routerLink]="['/services', 'switchgear-repairing-maintenance']" href="#">Switchgear</a></li>
                                  <li><a [routerLink]="['/services', 'generator-repeating-maintenance']" href="#">Generator</a></li>
                                  <li><a [routerLink]="['/services', 'industrial-wiring']" href="#">Industrial Wiring</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>





                  <li class="nav-link" [class.show-nav]="supportMouseOvered" (mouseover)="supportMouseOvered=true; servicesMouseOvered=false; productsMouseOvered=false; solutionsMouseOvered=false;"><a href="#" [routerLink]="['support-home']" class="nav-link">Support <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="nav-details-container" (mouseleave)="productsMouseOvered=false; servicesMouseOvered=false; supportMouseOvered=false; solutionsMouseOvered=false;">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3 row">
                            <div class="whats-new-section ">
                              <img src="/img/support/support-nav.jpg" class="img-full-width" />
                              <strong><span class="whats-new-head">Expect 24X7 flawless support</span></strong>
                              <ul>
                                <li class="no-click-close">
                                  <p>​Techsol's Customer Support team is here to assist you whenever.</p>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-9 nav-items">
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Downloads
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Brochure</a></li>
                                  <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Product Catalog</a></li>
                                  <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Technical Specifications</a></li>
                                  <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Drawings</a></li>
                                  <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Sample Code</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Literature
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'sub-station-installation']" href="#">Certifications</a></li>
                                  <li><a [routerLink]="['/services', 'sub-station-installation']" href="#">Products</a></li>
                                  <li><a [routerLink]="['/services', 'sub-station-installation']" href="#">Solutions</a></li>
                                  <li><a [routerLink]="['/services', 'sub-station-installation']" href="#">Services</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Repairing
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'substation-repairing-maintenance']" href="#">Substation</a></li>
                                  <li><a [routerLink]="['/services', 'transformar-repairing-maintenance']" href="#">Transformar</a></li>
                                  <li><a [routerLink]="['/services', 'switchgear-repairing-maintenance']" href="#">Switchgear</a></li>
                                  <li><a [routerLink]="['/services', 'generator-repeating-maintenance']" href="#">Generator</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3 nav-col">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Tools
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'substation-repairing-maintenance']" href="#">Product Registration</a></li>
                                  <li><a [routerLink]="['/services', 'substation-repairing-maintenance']" href="#">Warrenty Information</a></li>
                                  <li><a [routerLink]="['/services', 'substation-repairing-maintenance']" href="#">Training</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

















                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="the-page">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>Links</h4>
          <ul>
            <li><a [routerLink]="['about']">About Us</a></li>
            <li><a [routerLink]="['contact-us']">Contact Us</a></li>
            <!--<li><a [routerLink]="['gallery']">Activity Gallery</a></li> should be fetched from FB-->
            <li><a [routerLink]="['quality']">Quality</a></li>
            <li><a [routerLink]="['clients']">Clients</a></li>
            <!-- <li><a [routerLink]="['manufacturing-process']">Manufacturing Process</a></li> -->
            <li><a [routerLink]="['faq']">FAQ</a></li>
            <li><a [routerLink]="['products-home']">Products</a></li>
            <li><a [routerLink]="['solutions-home']">Solutions</a></li>
            <li><a [routerLink]="['services-home']">Services</a></li>
            <li><a [routerLink]="['support-home']">Support</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Contact Us</h4>
          <p>
            <strong>Techsol Engineering Limited</strong><br/> BDBL Bhaban (Level - 19)<br/> 12 Karwan Bazar C/A<br/> Dhaka
            - 1215. Bangladesh.
            <br/> Tel: +88 02 8189587 - 89<br/> Cell: +8801711547055<br/> Email: info@techsolbd.com<br/>
          </p>
        </div>
        <div class="col-md-3">
          <h4>Code of Ethics</h4>
          <p>Techsol is committed to fairness and honesty in all its dealings. To demonstrate our commitment to ensuring ethical
            behavior we have put in place industry standard measures. </p>
        </div>
        <div class="col-md-3" style="text-align:right;">
          <h4>Awards &amp; Recognition</h4>
          <a [routerLink]="['quality']"><img src="/img/iso.png" style="width: 200px;" /></a>
          <h5>ISO 9001:2008 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ISO 14001:2004</h5>
          <h4>&nbsp;</h4>
          <div class="share">
            <a href="https://www.facebook.com/techsolbd"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/techsolbd"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://in.linkedin.com/company/techsolbd"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
            <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.techsolbd.com" title="Share by Email"><i id="social-gp" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          &copy; 2017 Techsol Engineering Limited, All Rights Reserved.
        </div>
        <div class="col-md-6" style="text-align:right">
          <a [routerLink]="['terms-of-use']">Terms of use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="['privacy-policy']">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="['sitemap']">Sitemap</a>
        </div>
      </div>
    </div>
  </div>
</footer>