<header class="container-fluid">
  <div class="header-container row">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <a [routerLink]="['/']">
              <div class="logo pull-left"></div>
            </a>
            <div class="search-container pull-left">
              <input type="text" class="search-box" placeholder="Search" /><button type="button" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="desktop-nav pull-right">
              <div class="nav-top">
                <ul>
                  <li><a [routerLink]="['about']">About Techsol</a></li>
                  <li><a [routerLink]="['contact-us']">Contact Us</a></li>
                </ul>
              </div>
              <div class="nav-bottom">
                <ul>
                  <li class="nav-link" [class.show-nav]="productsMouseOvered" (mouseover)="productsMouseOvered=true; servicesMouseOvered=false"><a href="#" [routerLink]="['products-home']" class="nav-link">Product <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="nav-details-container" (mouseleave)="productsMouseOvered=false; servicesMouseOvered=false">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3 row">
                            <div class="whats-new-section ">
                              <strong><span class="whats-new-head">What's New</span></strong>
                              <ul>
                                <li class="no-click-close">
                                  <a href="#" class="no-click-close"><strong>Lorem ipsum dolor</strong>
                                  <p>Cras interdum, velit in viverra vehicula, sem nisl mattis orci, quis congue.</p></a>
                                </li>
                                <li class="no-click-close">
                                  <a href="#" class="no-click-close">
                                    <strong>Commodo vehicula vivamus.</strong>
                                    <p>Vivamus ut enim libero. Cras interdum, velit in viverra vehicula, sem nisl mattis orci, quis congue.</p>
                                  </a>
                                </li>
                                <li class="no-click-close">
                                  <a href="#" class="no-click-close"> <strong>Tortor ante non augue</strong>
                                    <p>Velit in viverra vehicula, sem nisl mattis orci, quis congue tortor</p>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-9 nav-items">
                            <div class="col-md-3">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Transformer
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'power-transformer']">Power Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'distribution-transformer']" href="#">Distribution Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'special-type-transformer']" href="#">Special Type Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'dry-type-transformer']" href="#">Dry Type Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'green-transformer']" href="#">Green Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'isolation-transformer']" href="#">Isolation Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'auto-transformer']" href="#">Auto Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'earthing-transformer']" href="#">Earthing Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'furnace-transformer']" href="#">Furnace Transformer</a></li>
                                  <li><a [routerLink]="['/products', 'rectifier-transformer']" href="#">Rectifier Transformer</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Switchgear
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'hv-switchgear']" href="#">HV Switchgear</a></li>
                                  <li><a [routerLink]="['/products', 'mv-switchgear']" href="#">MV Switchgear</a></li>
                                  <li><a [routerLink]="['/products', 'lv-switchgear']" href="#">LV Switchgear</a></li>
                                  <li><a [routerLink]="['/products', 'enclosed-switchgear']" href="#">Enclosed Switchgear</a></li>
                                </ul>
                              </div>
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  LV Panels
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'mccb-distribution-board']" href="#">MCCB Distribution Board</a></li>
                                  <li><a [routerLink]="['/products', 'final-distribution-board']" href="#">Final Distribution Board</a></li>
                                  <li><a [routerLink]="['/products', 'power-factor-correction']" href="#">Power Factor Correction</a></li>
                                  <li><a [routerLink]="['/products', 'changeover-panel']" href="#">Changeover Panel</a></li>
                                </ul>
                              </div>

                            </div>
                            <div class="col-md-3">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Control Panels
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'synchronization-panel']" href="#">Synchronization Panel</a></li>
                                  <li><a [routerLink]="['/products', 'industrial-control-panel']" href="#">Industrial Control Panel</a></li>
                                  <li><a [routerLink]="['/products', 'motor-control-panel']" href="#">Motor Control Panel</a></li>
                                  <li><a [routerLink]="['/products', 'generator-control-panel']" href="#">Generator Control Panel</a></li>
                                  <li><a [routerLink]="['/products', 'lighting-control-anels']" href="#">Lighting Control Panel</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  More Products
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/products', 'generators']" href="#">Generators</a></li>
                                  <li><a [routerLink]="['/products', 'static-avr']" href="#">Static AVR</a></li>
                                  <li><a [routerLink]="['/products', 'busway-and-cable-management']" href="#">Busway and Cable Management</a></li>
                                  <li><a [routerLink]="['/products', 'surge-and-lightning-protection-system']" href="#">Surge and Lightning Protection System</a></li>
                                  <li><a [routerLink]="['/products', 'solar-system']" href="#">Solar System</a></li>
                                  <li><a [routerLink]="['/products', 'sub-station']" href="#">Sub-Station</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-link" [class.show-nav]="servicesMouseOvered" (mouseover)="servicesMouseOvered=true; productsMouseOvered=false;"><a href="#" [routerLink]="['services-home']" class="nav-link">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="nav-details-container" (mouseleave)="productsMouseOvered=false; servicesMouseOvered=false">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3 row">
                            <div class="whats-new-section ">
                              <strong><span class="whats-new-head">What's New</span></strong>
                              <ul>
                                <li class="no-click-close">
                                  <a href="#" class="no-click-close"><strong>Lorem ipsum dolor</strong>
                                  <p>Cras interdum, velit in viverra vehicula, sem nisl mattis orci, quis congue.</p></a>
                                </li>
                                <li class="no-click-close">
                                  <a href="#" class="no-click-close">
                                    <strong>Commodo vehicula vivamus.</strong>
                                    <p>Vivamus ut enim libero. Cras interdum, velit in viverra vehicula, sem nisl mattis orci, quis congue.</p>
                                  </a>
                                </li>
                                <li class="no-click-close">
                                  <a href="#" class="no-click-close"> <strong>Tortor ante non augue</strong>
                                    <p>Velit in viverra vehicula, sem nisl mattis orci, quis congue tortor</p>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-9 nav-items">
                            <div class="col-md-5">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Electrical Service Solutions
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'engineering-procurement-and-construction-epc']" href="#">Engineering, Procurement, and Construction (EPC)</a></li>
                                  <li><a [routerLink]="['/services', 'data-center-solution']" href="#">Data Center Solution</a></li>
                                  <li><a [routerLink]="['/services', 'engineering-and-consultancy']" href="#">Engineering and Consultancy</a></li>
                                  <li><a [routerLink]="['/services', 'turnkey-services']" href="#">Turnkey Services</a></li>
                                  <li><a [routerLink]="['/services', 'emergency-service-and-support']" href="#">Emergency Service and Support</a></li>
                                  <li><a [routerLink]="['/services', 'project-management']" href="#">Project Management</a></li>
                                  <li><a [routerLink]="['/services', 'network-design']" href="#">Network Design</a></li>
                                  <li><a [routerLink]="['/services', 'health-and-safety']" href="#">Health and Safety</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Installation
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'sub-station-installation']" href="#">Sub-station Installation</a></li>
                                  <li><a [routerLink]="['/services', 'generator-installation']" href="#">Generator Installation</a></li>
                                  <li><a [routerLink]="['/services', 'power-plant-installation-and-erection']" href="#">Power Plant Installation and Erection</a></li>
                                </ul>
                              </div>
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Repairing &amp; Maintenance
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'substation-repairing-maintenance']" href="#">Substation</a></li>
                                  <li><a [routerLink]="['/services', 'transformar-repairing-maintenance']" href="#">Transformar</a></li>
                                  <li><a [routerLink]="['/services', 'switchgear-repairing-maintenance']" href="#">Switchgear</a></li>
                                  <li><a [routerLink]="['/services', 'generator-repeating-maintenance']" href="#">Generator</a></li>
                                  <li><a [routerLink]="['/services', 'industrial-wiring']" href="#">Industrial Wiring</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="nav-item">
                                <div class="nav-item-head">
                                  Head
                                </div>
                                <ul>
                                  <li><a [routerLink]="['/services', 'site-testing-and-commissioning']" href="#">Site Testing and Commissioning</a></li>
                                  <li><a [routerLink]="['/services', 'discrimination-studies']" href="#">Discrimination Studies</a></li>
                                  <li><a [routerLink]="['/services', 'power-quality-analysis']" href="#">Power Quality Analysis</a></li>
                                  <li><a [routerLink]="['/services', 'generator-hire-and-connection']" href="#">Generator Hire and Connection</a></li>
                                  <li><a [routerLink]="['/services', 'switchgear-modification']" href="#">Switchgear Modification</a></li>
                                  <li><a [routerLink]="['/services', 'power-quality-analysis']" href="#">Power Quality Analysis</a></li>
                                  <li><a [routerLink]="['/services', 'thermal-imaging-surveys']" href="#">Thermal Imaging Surveys</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><a [routerLink]="['gallery']">Gallery</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="the-page">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>Links</h4>
          <ul>
            <li><a [routerLink]="['about']">About Us</a></li>
            <li><a [routerLink]="['contact-us']">Contact Us</a></li>
            <li><a [routerLink]="['gallery']">Gallery</a></li>
            <li><a [routerLink]="['quality']">Design &amp; Quality</a></li>
            <li><a [routerLink]="['clients']">Clients</a></li>
            <li><a [routerLink]="['infrastructure']">Infrastructure</a></li>
            <li><a [routerLink]="['manufacturing-process']">Manufacturing Process</a></li>
            <li><a [routerLink]="['faq']">FAQ</a></li>
            <li><a [routerLink]="['product-registration']">Product Registration</a></li>
            <li><a [routerLink]="['products-home']">Products</a></li>
            <li><a [routerLink]="['services-home']">Services</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Contact Us</h4>
          <p>
            <strong>Techsol Engineering Limited</strong><br/> BDBL Bhaban (Level - 19)<br/> 12 Karwan Bazar C/A<br/> Dhaka
            - 1215. Bangladesh.
            <br/> Tel: +88 02 8189587 - 89<br/> Cell: +8801711547055<br/> Email: info@techsolbd.com<br/>
          </p>
        </div>
        <div class="col-md-3">
          <h4>Code of Ethics</h4>
          <p>Techsol is committed to fairness and honesty in all its dealings. To demonstrate our commitment to ensuring ethical
            behavior we have put in place industry standard measures. </p>
        </div>
        <div class="col-md-3" style="text-align:right;">
          <h4>Awards &amp; Recognition</h4>
          <img src="/img/iso.png" style="width: 200px;" />
          <h5>ISO 9001:2008 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ISO 14001:2004</h5>
          <h4>&nbsp;</h4>
          <div class="share">
            <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          &copy; 2017 Techsol Engineering Limited.
        </div>
        <div class="col-md-6" style="text-align:right">
          <a [routerLink]="['privacy-policy']">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['sitemap']">Sitemap</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="['support']">Support</a>
        </div>
      </div>
    </div>
  </div>
</footer>