<div class="container no-gap" style="top: 96px;">
  <div class="row">
    <div class="col-md-12">
      <h2>Products that Perform</h2>
      <p>Installing the right products can make a world of difference to your company. So explore our expansive product portfolio
        of power, thermal and infrastructure management systems. We offer problem-configured critical infrastructure technologies,
        rapidly deployable intelligent hardware and software, and customized solutions to meet your specific requirements
        and needs.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-1.jpg" class="img-full-width" />
        </div>
        <div class="block-body">
          <h3>Transformer</h3>
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['products', 'power-transformers']">Power Transformer</a></li>
            <li><a [routerLink]="['products', 'distribution-transformers']" href="#">Distribution Transformer</a></li>
            <li><a [routerLink]="['products', 'special-type-transformers']" href="#">Special Type Transformer</a></li>
            <li><a [routerLink]="['products', 'dry-type-transformers']" href="#">Dry Type Transformer</a></li>
            <li><a [routerLink]="['products', 'green-transformers']" href="#">Green Transformer</a></li>
            <li><a [routerLink]="['products', 'isolation-transformers']" href="#">Isolation Transformer</a></li>
            <li><a [routerLink]="['products', 'auto-transformers']" href="#">Auto Transformer</a></li>
            <li><a [routerLink]="['products', 'earthing-transformers']" href="#">Earthing Transformer</a></li>
            <li><a [routerLink]="['products', 'furnace-transformers']" href="#">Furnace Transformer</a></li>
            <li><a [routerLink]="['products', 'rectifier-transformers']" href="#">Rectifier Transformer</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-1.jpg" class="img-full-width" />
        </div>
        <div class="block-body">
          <h3>Switch Gear</h3>
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['products', 'hv-switch-gear']" href="#">HV Switch Gear</a></li>
            <li><a [routerLink]="['products', 'mv-switch-gear']" href="#">MV Switch Gear</a></li>
            <li><a [routerLink]="['products', 'lv-switch-gear']" href="#">LV Switch Gear</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-1.jpg" class="img-full-width" />
        </div>
        <div class="block-body">
          <h3>Distribution Board</h3>
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['products', 'mccb-distribution-board']" href="#">MCCB Distribution Board</a></li>
            <li><a [routerLink]="['products', 'final-distribution-board']" href="#">Final Distribution Board</a></li>
            <li><a [routerLink]="['products', 'power-factor-correction']" href="#">Power Factor Correction</a></li>
            <li><a [routerLink]="['products', 'changeover-panels']" href="#">Changeover Panels</a></li>
            <li><a [routerLink]="['products', 'enclosed-switchgear']" href="#">Enclosed Switchgear</a></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-1.jpg" class="img-full-width" />
        </div>
        <div class="block-body">
          <h3>Control Panels</h3>
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['products', 'synchronization-panel']" href="#">Synchronization Panel</a></li>
            <li><a [routerLink]="['products', 'industrial-control-panel']" href="#">Industrial Control Panel</a></li>
            <li><a [routerLink]="['products', 'motor-control-panel']" href="#">Motor Control Panel</a></li>
            <li><a [routerLink]="['products', 'generator-control-panels']" href="#">Generator Control Panels</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="block-head">
          <img src="/img/img-1.jpg" class="img-full-width" />
        </div>
        <div class="block-body">
          <h3>More Products</h3>
          <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according to
            your business needs.</p>
          <ul>
            <li><a [routerLink]="['products', 'generators']" href="#">Generators</a></li>
            <li><a [routerLink]="['products', 'static-avr']" href="#">Static AVR</a></li>
            <li><a [routerLink]="['products', 'surge-and-lightning-protection-system']" href="#">Surge and Lightning Protection System</a></li>
            <li><a [routerLink]="['products', 'solar-system']" href="#">Solar System</a></li>
            <li><a [routerLink]="['products', 'sub-station']" href="#">Sub-Station</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>