// styles in src/style directory are applied to the whole page
body {
    //background: url(/img/page-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: 50% 0;
    background-color: #E8EAE9 !important;
    background-size: 100%;
}
body {
    font-family: 'Catamaran', sans-serif !important;
    /*font-family: "Open Sans", Arial, Helvetica, sans-serif !important;*/
    
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
}
.img-full-width {
    width: 100%;
}
.heading-light, .heading-dark {
    display: block;
}
.heading-light {
    font-size: 3.8rem;
    letter-spacing: -0.25rem;
    color: #a5a5a5;
}
.heading-dark {
    font-size: 4.9rem;
}
.heading-dark, h4 {
    color: #008395;
}
h4 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
p {
    line-height: 27px;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
}
.side-heading {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-top: 370px;
    width: 600px;
    font-size: 5rem;
    text-align: right;
    position: absolute;
    margin-left: -171px;
}
.top-space {
    margin-top: 100px;
}
.bottom-space {
    margin-bottom: 100px;
}
.bottom-space-35 {
    margin-bottom: 35px;
}
.the-page {
    top: 86px;
    position: relative;
}
.page-head {
    background: #000;
    .topic-img {
        padding: 0px 0 35px 0;
    }
    .head-container {
        background-repeat: no-repeat;
        background-position-x: right;
        opacity: 1 !important;
        top: 0 !important;
        min-height: 300px;
        position: relative;
        background-position: right top;
        background-size: cover;
    }
    .container {
        background-repeat: no-repeat;
        background-position-x: right;
        opacity: 1 !important;
        top: 0 !important;
        //min-height: 300px;
        position: relative;
        background-position: right top;
        background-size: cover;
        background: #000000;
        .topic-description-bg{
            background-image: url("/img/surge-home.jpg");
            background-size: cover;
        }
        .topic-description {
            //min-height: 300px;
            bottom: 0;
            padding: 20px 0;
            z-index: 1;
            color: #00e0ff;
            letter-spacing: .06em;
            background-color: rgba(0,0,0,0.87);
            height: 362px;
            h1 {
                font-size: 30px;
                font-weight: 600;
                line-height: 1.2;
                color: #fff;
                margin-bottom: 22px;
                margin-top: 70px;
            }
            p {
                color: #fff;
                line-height: 40px;
                font-size: 22px;
                font-weight: 100;
                margin-right: 50px;            }
        }
    }
}
.no-gap{
    .row, [class*="col-"]{
        padding: 0 !important;
        margin: 0 !important;
    }
    .block{
        background-color: #FFFFFF;
        margin: 5px;
        overflow: auto;
        padding: 10px;     
        h2, h3{
            color: #25abc6;
            margin: 25px 0 14px 0;
            a{
                color: #25abc6;
                text-decoration: none;
            }
            a:hover{
                color: #25abc6;
            }
    font-weight: 100;
        }
    }
}

.tab-container{
    margin: 0 30px 30px 30px;
.nav.nav-tabs{
    border-bottom: 1px solid #EB2A2E;
    .nav-item{
        .nav-link{
            color:#000000;
        }
        .nav-link:hover{
            background-color: transparent;
            border-color:transparent;
            color:#EB282C;
        }
        .nav-link:focus{
            background-color: transparent;
            border-color:transparent;            
        }
        .nav-link.active{
            color:#000000;
            
            border-bottom: 5px solid #EB2A2E;

        }
    }
}
}

.background-cover{
    background-color: rgba(0,0,0,0.6);
    min-height: 325px;
}
.background-img{
    background-size: cover !important; 
    background-position: center  !important;
    padding-right: 0  !important;
    padding-left: 0  !important;
    padding-top:86px;
}
.breadcrumb{
    background-color:#2f2f2f !important;
    margin: 5px 0 !important;
    padding-left: 0 !important;
    i{
        font-size: 10px;
        padding-right: 4px;
    }
}

.page-nav{
    background-color: #707070;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 10px 0px;
    border-bottom: 1px solid #00e0ff;
    z-index: 1499;
    ul{
        overflow: auto;
        margin: 0px;
        text-align: center;

        li{
            display: inline-block;
            padding: 0;
            a{
                color:#000000;
                padding: 10px 30px;
                display: block;
                text-decoration: none;

            }
            a:hover{
                color:#FFFFFF;
            }
        }
        li:hover{
            background-color: #2f2f2f;
        }
    }
    
}







$carousel-height: 40px !default;
$carousel-item-height: $carousel-height / 2 !default;
$carousel-item-width: $carousel-item-height !default;



.carousel {
    &.carousel-slider {
      top: 0;
      left: 0;
  
      .carousel-fixed-item {
        &.with-indicators {
          bottom: 68px;
        }
  
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 1;
      }
  
      .carousel-item {
        width: 100%;
        height: 100%;
        min-height: $carousel-height;
        position: absolute;
        top: 0;
        left: 0;
  
        h2 {
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
        }
  
        p {
          font-size: 15px;
        }
      }
    }
  
    overflow: hidden;
    position: relative;
    width: 100%;
    height: $carousel-height;
    perspective: 500px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
  
    .carousel-item {
      display: none;
      width: $carousel-item-width;
      height: $carousel-item-height;
      position: absolute;
      top: 0;
      left: 0;
  
      & > img {
        width: 100%;
      }
    }
  
    .indicators {
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
  
      .indicator-item {
        &.active {
          background-color: #fff;
        }
  
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 24px 4px;
        background-color: rgba(255,255,255,.5);
  
        transition: background-color .3s;
        border-radius: 50%;
      }
    }
  
    // Materialbox compatibility
    &.scrolling .carousel-item .materialboxed,
    .carousel-item:not(.active) .materialboxed {
      pointer-events: none;
    }
  }
  

  .prod-banner{
    overflow: auto;
    margin: 30px 0px;
    padding: 3px; 
    overflow: hidden;

[class*="col-"] {
    padding:0;
}
.prod-banner-text, .prod-banner-img-container{
    padding:30px;
    
}
.prod-banner-text{
    color: #FFFFFF;
    letter-spacing: .06em;
    padding-left: 0;
    padding-top: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    p{
        letter-spacing: .06em;
        padding-left: 0;
        padding-top: 0;
        font-size: 44px;
        line-height: 50px;
        font-weight: 100;
        text-align: left;
        color: #00e0ff;  
        font-family: 'Yanone Kaffeesatz', sans-serif;    
    }
    h1{
        margin-top: 0;
        font-weight: 400;
        font-size: 50px;
        margin: 30px 0 20px 0;
    }
    
}

.prod-banner-img-container{
    background-color: #FFFFFF;
}
}
.page-head{
    background-size: cover;
}
.page-nav-top{
    background-color: #2f2f2f;
    color: #FFFFFF;
    a{
        color:#FFFFFF;
        padding:0 5px;
    }
    a:hover{
        color:#00e0ff;
        text-decoration: none;

    }
}
h2{
    font-weight: 100 !important;
    
}
.read-more{
    margin-bottom: 17px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
}
p{
    text-align: justify;
    font-size: 18px;
}
.client-logo{
    width: 107px;
    display: inline-block;
    border: 2px solid #E8EAE9;
    text-align: center;
    height: 155px;
    position: relative;
    margin: 0 2px;
    background: #FFFFFF;
    .v-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img{
            padding: 15px;
            margin-bottom: 5px;
        }
    }
}
