<div class="container-fluid page-head">
    <div class="container" style="top: 96px;">
        <div class="row">
            <div class="col-md-6">
                <div class="topic-description">
                    <h1 class="primary-headline">{{product?.name}}</h1>
                </div>
            </div>
            <div class="topic-img col-md-6">
                <img src="{{product?.headImage}}" class="img-full-width" />
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="prod-banner">
                    <div class="col-md-8">
                        <div class="prod-banner-text">
                            Small description about the product
                        </div>
                    </div>
                    <div class="col-md-4 prod-banner-img">
                        <div class="prod-banner-img-container">
                            <img src="{{product?.productImageUrl}}" class="img-full-width" />
                        </div>
                    </div>
                </div>
            </div>
            <ngb-tabset>
                <ngb-tab title="Simple">
                    <ng-template ngbTabContent>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                            retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                            butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson
                            ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
                            butcher voluptate nisi qui.</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                            jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                            delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
                            Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                            culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui
                            sapiente accusamus tattooed echo park.</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Disabled" [disabled]="true">
                    <ng-template ngbTabContent>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                            retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                            butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson
                            ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
                            butcher voluptate nisi qui.</p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>


