.keyNotes-container{
    height: 270px;
    display: table;
    width: 100%;
    padding: 0;
    background-color: #bed5e8;
    font-size: 20px;
    padding: 10px;
}
.keyNote-container{
    height: 100%; display:table-cell; vertical-align: middle;
}
.keyNote{
    float:none;
  margin:0 auto;
}
.related-link{
    padding: 10px;
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
    font-weight: bold;    
    text-align: center;
}
.related-head{
    font-size: 18px;
    text-align: center;
    margin: 30px 0 10px 0;
}
.download-cat{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    overflow: auto;
    border: 1px solid;  
}
.download-cat a{
    padding-left: 30px;
    background: url(/img/download-cat.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 50px;
    display: block;
    
}
.prod-banner{
    overflow: auto;
    margin: 100px;
    background-color: #008395;
    padding: 3px; 

[class*="col-"] {
    padding:0;
}
.prod-banner-text, .prod-banner-img-container{
    padding:30px;
    
}
.prod-banner-text{
color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: .06em;
}
.prod-banner-img-container{
    background-color: #FFFFFF;
}
}