<div class="page-nav">
    <div class="page-nav-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb "><a [routerLink]="['/']">Home</a> > <a [routerLink]="['/services-home']">Services</a> > {{service?.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ul>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#benefits">Benefits</a></li>
                    <li><a href="#resources">Resources</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + service?.headImage + ')'">
    <div class="container-fluid background-cover">
        <div class="container" style="top: 96px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="prod-banner">
                        <div class="col-md-8">
                            <div class="prod-banner-text">
                                <h1>{{service?.name}}</h1>
                                <p>{{service?.description}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 prod-banner-img">
                            <div class="prod-banner-img-container">
                                <div class="carousel carousel-prod carousel-slider center" data-indicators="true">
                                    <div class="carousel-item" *ngFor="let serviceImgUrl of service?.serviceImageUrl">
                                        <img src="{{serviceImgUrl}}" class="img-full-width" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-img col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 scrollspy section" id="overview">
                        <h2>Overview</h2>
                        <p>{{service?.overview}}</p>
                    </div>

                    <div class="col-md-12 scrollspy section" id="features">
                        <h2>Features</h2>
                        <div class="features">
                            <div class="row">
                                <div class="col-md-12">
                                    <p innerHTML="{{service?.features}}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 scrollspy section" id="benefits">
                        <h2>Benefits</h2>
                        <p>{{service?.benefits}}</p>
                    </div>

                    <div class="col-md-12 scrollspy section" id="downloads">
                        <h2>Downloads</h2>
                        <table>
                            <tr class="resources" *ngFor="let resource of service?.downloads">
                                <td>
                                    <h4>{{resource.name}}</h4>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{resource.link}}" target="_blank">Download</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 scrollspy section" id="contacts">
                        <h2>Contacts</h2>
                        <table>
                            <tr class="contacts" *ngFor="let contact of service?.contacts">
                                <td>
                                    <h4>{{contact.name}}</h4>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{contact.link}}" target="_blank"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>More Services</h2>
                    </div>
                    <div class="col-md-4" *ngFor="let relatedService of service?.relatedServices">
                        <div class="relate-prod">
                            <a href="{{relatedService.link}}"><img src="{{relatedService.imageUrl}}" class="img-full-width"/></a>
                            <h3><a href="{{relatedService.link}}">{{relatedService.name}}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>