<div class="container-fluid page-head">
  <div class="container" style="top: 96px;">
    <div class="row">
      <div class="col-md-6">
        <div class="topic-description">
          <h1 class="primary-headline">Energy &amp; Resources</h1>
          <p class="body-copy">Deloitte’s India Energy &amp; Resources specialists provide comprehensive, integrated solutions to all segments
            of the Power, Oil and Gas and Mining sectors. We offer clients exceptionally detailed industry knowledge and
            a global network, alongside local market delivery.</p>
        </div>
      </div>
      <div class="topic-img col-md-6">

        <img class="img-full-width" src="/img/107473-artwork-fantasy_art-abstract-fire-lightbulb-fingers-electricity-digital_art-simple_background.jpg"
        />
      </div>
    </div>
  </div>
</div>

<div class="container no-gap" style="top: 96px;">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="block block-type-1">
            <div class="block-head">
              <img src="/img/img-14.jpg" class="img-full-width" />
              <h3>About Us</h3>
            </div>
            <div class="block-body">
              <p>Deloitte’s India Energy &amp; Resources specialists provide comprehensive, integrated solutions to all segments
                of the Power, Oil and Gas and Mining sectors. We offer clients exceptionally detailed industry knowledge
                and a global network, alongside local market delivery.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="block block-type-1">
            <div class="block-head">
              <img src="/img/img-15.jpg" class="img-full-width" />
              <h3>Factory</h3>
            </div>
            <div class="block-body">
              <p>Deloitte’s India Energy &amp; Resources specialists provide comprehensive, integrated solutions to all segments
                of the Power, Oil and Gas and Mining sectors. We offer clients exceptionally detailed industry knowledge
                and a global network, alongside local market delivery.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="block">
            <div class="block-body video-container">
              <iframe src="https://www.youtube.com/embed/d0BmOaOP7JU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen class="video"></iframe>
            </div>
          </div>
        </div>
      </div>



    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="block block-type-3">
            <div class="block-head">
              <h3>Quality Assurance</h3>
            </div>
            <div class="block-body">
              <p>Deloitte’s India Energy &amp; Resources specialists provide comprehensive, integrated solutions to all segments
                of the Power, Oil and Gas and Mining sectors. We offer clients exceptionally detailed industry knowledge
                and a global network, alongside local market delivery.</p>
              <img src="/img/img-16.jpg" class="img-full-width" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">

      <div class="block block-type-4">
        <div class="block-head">
          <h3>News</h3>
        </div>
        <div class="block-body">
          <p>Deloitte’s India Energy &amp; Resources specialists provide comprehensive, integrated solutions to all segments
            of the Power, Oil and Gas and Mining sectors. We offer clients exceptionally detailed industry knowledge and
            a global network, alongside local market delivery.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="block block-type-4 testimonial">
        <div class="block-head">
          <h3>Testimonial</h3>
        </div>
        <div class="block-body">
          <div class="carousel carousel-home carousel-slider center" data-indicators="true">
            <div class="carousel-item row">
              <div class="testimonial-img col-md-4">
                <img src="/img/testimonial/zaki-hasan.jpg" class="img-full-width" />
              </div>
              <div class="col-md-8 content">
                <span class="title">Curabitur viverra nisl sapien, non pulvinar ipsum venenatis.<br/></span>
                <p>Vestibulum lacinia eu tellus rutrum pulvinar. Vivamus vehicula leo odio, et commodo ante convallis at. Mauris
                  tincidunt congue rhoncus. Duis nec commodo enim. Morbi volutpat elit non dolor mollis molestie.<br/></p>
                <i>- Shubhabrata Das</i> | <i>Deloitte</i>
              </div>
            </div>
            <div class="carousel-item row">
              <div class="testimonial-img col-md-4">
                <img src="/img/testimonial/zaki-hasan.jpg" class="img-full-width" />
              </div>
              <div class="col-md-8 content">
                <span class="title">Curabitur viverra nisl sapien, non pulvinar ipsum venenatis.<br/></span>
                <p>Vestibulum lacinia eu tellus rutrum pulvinar. Vivamus vehicula leo odio, et commodo ante convallis at. Mauris
                  tincidunt congue rhoncus. Duis nec commodo enim. Morbi volutpat elit non dolor mollis molestie.<br/></p>
                <i>- Shubhabrata Das</i> | <i>Deloitte</i>
              </div>
            </div>
            <div class="carousel-item row">
              <div class="testimonial-img col-md-4">
                <img src="/img/testimonial/zaki-hasan.jpg" class="img-full-width" />
              </div>
              <div class="col-md-8 content">
                <span class="title">Curabitur viverra nisl sapien, non pulvinar ipsum venenatis.<br/></span>
                <p>Vestibulum lacinia eu tellus rutrum pulvinar. Vivamus vehicula leo odio, et commodo ante convallis at. Mauris
                  tincidunt congue rhoncus. Duis nec commodo enim. Morbi volutpat elit non dolor mollis molestie.<br/></p>
                <i>- Shubhabrata Das</i> | <i>Deloitte</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>