<!-- <div class="container">
    <div class="row" style="position:relative;">
      <img src="{{home?.heroImage.url}}" class="img-full-width" />
      <div class="hero-layer">
        <div class="hero-center-box col-xs-10" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="1500">
          <div class="welcome-msg-cont">
            <div class="welcome-msg">{{home?.heroImage.title}}</div>
          </div>
          <div class="hero-slogan">
            <h3><span class="heading-light">{{home?.heroImage.description}}</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-container">
          <h1>Energy & Resources</h1>
          <p>Deloitte’s India Energy & Resources specialists provide comprehensive, integrated solutions to all segments of
            the Power, Oil and Gas and Mining sectors. We offer clients exceptionally detailed industry knowledge and a global
            network, alongside local market delivery.</p>
        </div>
      </div>
    </div>
  </div>
</div>

-->



<div class="container-fluid page-head">
  <div class="container" style="top: 96px;">
    <div class="row">
      <div class="col-md-6">
        <div class="topic-description">
          <h1 class="primary-headline">Energy &amp; Resources</h1>
          <p class="body-copy">Deloitte’s India Energy &amp; Resources specialists provide comprehensive, integrated solutions to all segments
            of the Power, Oil and Gas and Mining sectors. We offer clients exceptionally detailed industry knowledge and
            a global network, alongside local market delivery.</p>
        </div>
      </div>
      <div class="topic-img col-md-6">
        
        <img class="img-full-width" src="/img/107473-artwork-fantasy_art-abstract-fire-lightbulb-fingers-electricity-digital_art-simple_background.jpg" />
      </div>
    </div>
  </div>
</div>








<div class="container-fluid">
  <div class="pull-left side-heading">
    ABOUT
  </div>
  <div class="container">
    <div class="row achieve-success-container">
      <div class="col-xs-6">
        <h3 class="achieve-success-text-container">
          <span class="heading-light">Healping brands to</span>
          <span class="heading-dark">Achieve Success</span>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas urna sit amet ipsum commodo vehicula.
          Vivamus ut enim libero. Cras interdum, velit in viverra vehicula, sem nisl mattis orci, quis congue tortor ante
          non augue. Vivamus nulla ligula, laoreet quis efficitur a. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas urna sit amet ipsum commodo vehicula.
          Vivamus ut enim libero. Cras interdum, velit in viverra vehicula, sem nisl mattis orci, quis congue tortor ante
          non augue.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas urna sit amet ipsum commodo vehicula.
        </p>
      </div>
      <div class="col-xs-6 achieve-success-img-container">
        <div data-aos="fade-left"><img src="/img/img-1.jpg" class="img-full-width achieve-success-img" /></div>
        <div data-aos="fade-left"><img src="/img/img-2.jpg" class="img-full-width achieve-success-img" /></div>
      </div>
    </div>
  </div>
</div>




<div class="container home-three-col">
  <div class="row">
    <div class="col-xs-4 col-odd">
      <div class="row">
        <div class="col-xs-6">
          <div class="icon pull-right">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pull-left">
            <h4>Feel the difference</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-even">
      <div class="row">
        <div class="col-xs-4">
          <div class="icon pull-right">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pull-left">
            <h4>Peace of mind</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-4 col-odd">
      <div class="row">
        <div class="col-xs-3">
          <div class="icon pull-right">
            <i class="fa fa-sliders" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pull-left">
            <h4>Customize your need</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





<div class="container-fluid">
  <div class="pull-left side-heading">
    WORKS
  </div>
  <div class="container">
    <div class="row cases-studdy-container">
      <div class="col-xs-6">
        <div data-aos="fade-right"><img src="/img/img-3.jpg" class="img-full-width cases-studdy-img" /></div>
      </div>
      <div class="col-xs-6 cases-studdy-img-container">
        <h3 class="cases-studdy-text-container">
          <span class="heading-light">Read the case study</span>
          <span class="heading-dark">Robi</span>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas urna sit amet ipsum commodo vehicula.
          Vivamus ut enim libero. Cras interdum, velit in viverra vehicula, sem nisl mattis orci, quis congue tortor ante
          non augue. Vivamus nulla ligula, laoreet quis efficitur a. </p>
      </div>
    </div>
    <div class="row case-study-below">
      <ul>
        <li class="selected"><img src="/img/img-3.jpg" class="img-full-width" /></li>
        <li><img src="/img/img-4.jpg" class="img-full-width" /></li>
        <li><img src="/img/img-5.jpg" class="img-full-width" /></li>
        <li><img src="/img/img-6.jpg" class="img-full-width" /></li>
        <li><img src="/img/img-7.jpg" class="img-full-width" /></li>
        <li><img src="/img/img-8.jpg" class="img-full-width" /></li>
      </ul>
    </div>
  </div>
</div>










<div class="container-fluid">
  <div class="pull-left side-heading">
    OFFERS
  </div>
  <div class="container offer-container">
    <div class="row offer-center-container">
      <div class="col-xs-6">
        <div class="offset-left-box">
          <h4>We Maintain Best &amp; Optimum Results</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-xs-6">

        <div class="row offer-row-right">
          <div class="col-xs-5">
            <div class="icon pull-right">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="pull-left">
              <h4>Transportation</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>

        <div class="row offer-row-right">
          <div class="col-xs-5">
            <div class="icon pull-right">
              <i class="fa fa-wrench" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="pull-left">
              <h4>Regular health checkup</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>

        <div class="row offer-row-right">
          <div class="col-xs-5">
            <div class="icon pull-right">
              <i class="fa fa-life-ring" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="pull-left">
              <h4>Yearly AMC protection</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>










<div class="container-fluid talents-container">
  <div class="pull-left side-heading">
    TALENTS
  </div>
  <div class="container">
    <div class="row talents-center-container">
      <div class="col-xs-6">
        <div class="talents-left-box">
          <div class="col-xs-6"><img data-aos="fade-down-right" src="/img/img-9.jpg" class="img-full-width" />
          </div>
          <div class="col-xs-6"><img data-aos="fade-down-left" src="/img/img-10.jpg" class="img-full-width" />
          </div>
          <div class="col-xs-6"><img data-aos="fade-up-right" src="/img/img-11.jpg" class="img-full-width" />
          </div>
          <div class="col-xs-6"><img data-aos="fade-up-left" src="/img/img-12.jpg" class="img-full-width" />
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          <h3>
            <span class="heading-light">Read the case study</span>
            <span class="heading-dark">Robi</span>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>















<div class="container home-three-col">
  <div class="row">
    <div class="col-xs-4 col-odd">
      <div class="row">
        <div class="col-xs-6">
          <div class="icon pull-right">
            <i class="fa fa-file-text" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pull-left">
            <h4>What Client Say</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-even">
      <div class="row">
        <div class="col-xs-2">
          <div class="client pull-right">
            <img src="/img/client.png" class="img-full-width" />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pull-left">
            <h4>consectetur adipiscing</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>














<div class="container-fluid talents-container">
  <div class="pull-left side-heading">
    NEWS
  </div>
  <div class="container">
    <div class="row talents-center-container">
      <div class="col-xs-6">
        <div class="talents-left-box">
          <img data-aos="fade-up" src="/img/img-13.jpg" class="img-full-width" />
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          <h3>
            <span class="heading-light">Read the case study</span>
            <span class="heading-dark">Robi</span>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

      </div>
    </div>
    <div class="row news-container">
      <div class="col-xs-4">
        <div class="col-even">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit .
          </p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-selected">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amesum dolor sit amet,
          </p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-even">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
          </p>
        </div>
      </div>

    </div>
  </div>
</div>