<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> Products</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">

      <div class="container no-gap">
        <div class="row">
          <div class="col-md-12">
            <h2>Products that Perform</h2>
            <p>test content</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <div class="block-head">
                <img src="/img/img-1.jpg" class="img-full-width" />
                <h3>Transformer</h3>
              </div>
              <div class="block-body">
                <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according
                  to your business needs.</p>
                <div class="col-sm-6">
                  <ul>
                    <li><a [routerLink]="['/products', 'power-transformer']">Power Transformer</a></li>
                    <li><a [routerLink]="['/products', 'distribution-transformer']" href="#">Distribution Transformer</a></li>
                    <li><a [routerLink]="['/products', 'special-type-transformer']" href="#">Special Type Transformer</a></li>
                    <li><a [routerLink]="['/products', 'dry-type-transformer']" href="#">Dry Type Transformer</a></li>
                    <li><a [routerLink]="['/products', 'green-transformer']" href="#">Green Transformer</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul>
                    <li><a [routerLink]="['/products', 'isolation-transformer']" href="#">Isolation Transformer</a></li>
                    <li><a [routerLink]="['/products', 'auto-transformer']" href="#">Auto Transformer</a></li>
                    <li><a [routerLink]="['/products', 'earthing-transformer']" href="#">Earthing Transformer</a></li>
                    <li><a [routerLink]="['/products', 'furnace-transformer']" href="#">Furnace Transformer</a></li>
                    <li><a [routerLink]="['/products', 'rectifier-transformer']" href="#">Rectifier Transformer</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="block">
              <div class="block-head">
                <img src="/img/img-17.jpg" class="img-full-width" />
                <h3>Switchgear</h3>
              </div>
              <div class="block-body">
                <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according
                  to your business needs.</p>
                <ul>
                  <li><a [routerLink]="['/products', 'hv-switchgear']" href="#">HV Switchgear</a></li>
                  <li><a [routerLink]="['/products', 'mv-switchgear']" href="#">MV Switchgear</a></li>
                  <li><a [routerLink]="['/products', 'lv-switchgear']" href="#">LV Switchgear</a></li>
                  <li><a [routerLink]="['/products', 'enclosed-switchgear']" href="#">Enclosed Switchgear</a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <div class="block-head">
                <img src="/img/img-18.jpg" class="img-full-width" />
                <h3>LV Panels</h3>
              </div>
              <div class="block-body">
                <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according
                  to your business needs.</p>
                <ul>
                  <li><a [routerLink]="['/products', 'mccb-distribution-board']" href="#">MCCB Distribution Board</a></li>
                  <li><a [routerLink]="['/products', 'final-distribution-board']" href="#">Final Distribution Board</a></li>
                  <li><a [routerLink]="['/products', 'power-factor-correction']" href="#">Power Factor Correction</a></li>
                  <li><a [routerLink]="['/products', 'changeover-panel']" href="#">Changeover Panel</a></li>
                </ul>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block">
              <div class="block-head">
                <img src="/img/img-19.jpg" class="img-full-width" />
                <h3>Control Panels</h3>
              </div>
              <div class="block-body">
                <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according
                  to your business needs.</p>
                <ul>
                  <li><a [routerLink]="['/products', 'synchronization-panel']" href="#">Synchronization Panel</a></li>
                  <li><a [routerLink]="['/products', 'industrial-control-panel']" href="#">Industrial Control Panel</a></li>
                  <li><a [routerLink]="['/products', 'motor-control-panel']" href="#">Motor Control Panel</a></li>
                  <li><a [routerLink]="['/products', 'generator-control-panel']" href="#">Generator Control Panel</a></li>
                  <li><a [routerLink]="['/products', 'lighting-control-anels']" href="#">Lighting Control Panel</a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="block-head">
                <img src="/img/img-1.jpg" class="img-full-width" />
                <h3>More Products</h3>
              </div>
              <div class="block-body">
                <p>Support critical IT and facilities with rapidly deployable, cost-efficient and flexible enclosures according
                  to your business needs.</p>
                <ul>
                  <li><a [routerLink]="['/products', 'generators']" href="#">Generators</a></li>
                  <li><a [routerLink]="['/products', 'static-avr']" href="#">Static AVR</a></li>
                  <li><a [routerLink]="['/products', 'busway-and-cable-management']" href="#">Busway and Cable Management</a></li>
                  <li><a [routerLink]="['/products', 'surge-and-lightning-protection-system']" href="#">Surge and Lightning Protection System</a></li>
                  <li><a [routerLink]="['/products', 'solar-system']" href="#">Solar System</a></li>
                  <li><a [routerLink]="['/products', 'sub-station']" href="#">Sub-Station</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>