<div class="page-nav">
  <div class="page-nav-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb "><a [routerLink]="['/']">Home</a> > Infrastructure</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#factory">Factory</a></li>
          <li><a href="#history">Equipments</a></li>
          <li><a href="#team">Tools</a></li>
          <li><a href="#core-value">Transportation</a></li>
          <li><a href="#infrastructure">Production Area</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-img" [style.background]="'url(' + '/img/head/gallery.jpg' + ')'">
  <div class="container-fluid background-cover">
    <div class="container" style="top: 96px;">
      <div class="row">
        <div class="col-md-12">
          <div class="prod-banner">
            <div class="col-md-7">
              <div class="prod-banner-text">
                <h1>Infrastructure</h1>
                <p>Techsol Engineering was established in the year 1998 as an engineering company to provide services in the
                  electrical work sectors. From providing services, it soon focused its activities into Turn Key solutions.
                  From the year 2000, Techsol's range of services expanded to Design, Erection, Procurement, and Execution.</p>
              </div>
            </div>
            <div class="col-md-5 prod-banner-img">
              <div class="prod-banner-img-container">
                <img src="/img/head-side/gallery.png" class="img-full-width" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 scrollspy" id="factory">
        <h2>Factory</h2>

        <div class="carousel carousel-infra carousel-slider center" data-indicators="true">
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <p>
                  infrastructure - 1
                </p>
              </div>
              <div class="col-md-9">
                <img src="/img/img-33.jpg" class="img-full-width">
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <p>
                  infrastructure - 1
                </p>
              </div>
              <div class="col-md-9">
                <img src="/img/img-34.jpg" class="img-full-width">
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <p>
                  infrastructure - 1
                </p>
              </div>
              <div class="col-md-9">
                <img src="/img/img-35.jpg" class="img-full-width">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>